<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="height: 1200px;" >
<div class="d-flex justify-content-center   h-100"> 
  <div class="ml-3">
   
<div class="d-flex  " style="width: 1800px; height:1000px;">
  <div id="main-left"  style="width: 400px;">
    <div >
      
      <h1>Quick</h1>
      <h1>Flash</h1>
    </div>
    <div>
      <div id="map" style="width:300px;height:200px;"></div>
    </div>
    <div class="d-flex mt-2">
       <input type="text" id="keyword" placeholder="장소나 주소 입력">
      <button class="form-control" onclick="searchLocation()">검색</button>
      <button class="form-control" id="btn-location">위치 등록</button>

    </div>

     <div class="  mt-2">
       <input type="text" id="keyword-elastic" placeholder="keyword 검색">
      <button class="form-control" id="keyword-search">검색</button>
      <div id="search-result" style=" overflow-y: auto;    /* 높이 넘으면 스크롤 */
     border: 1px solid #ccc;height: 300px"></div>

    </div>

    <div class="  mt-3" style="width: 220px; height:200px">
      <nav class="nav flex-column bg-color p-3 rounded shadow h-100" >
        
         <a class="nav-link text-white fw-semibold mt-4 " href="#" onclick="updateThumbnails(); return false;">  모임 게시판</a>
        <!-- <a class="nav-link text-white fw-semibold mt-4" href="#">  자유게시판</a>
        <a class="nav-link text-white fw-semibold mt-4" href="#">  갤러리</a> -->
    <a class="nav-link text-white fw-semibold mt-4" href="#" onclick="reloadFinalReports(); return false;">  운동 리포트</a>
      </nav>
    </div>
    <div  class= "h-25" id="ranking-section">
      <div>daily Ranking</div>
      <div>
        <h3> 자전거: <span th:text="${dailyRanking.rankingNameOfCycle}"></span> 님</h3>
        <p>거리: <span th:text="${dailyRanking.bestScoreOfCycle}"></span>km</p>

        <h3> 러닝: <span th:text="${dailyRanking.rankingNameOfRunning}"></span>님</h3>
        <p>거리: <span th:text="${dailyRanking.bestScoreOfRunning}"></span>km</p>
      </div>
    
    </div>
    <div id="analysis">

    </div>

  </div>
  <div id="main-middle" class="d-flex align-items-center m-2" style="width: 850px;">
     <div class="w-100"> 
    <div >
      <h3>my schedule</h3>
            <div  id="my-schedule-section" >
            <div th:each="schedule : ${myScheduleList}">
    <a th:href="@{/meeting-post/before-meeting(postId=${schedule.id})}" class="text-decoration-none text-dark">
        <div class="thumbnail-card mb-3 p-3 border rounded d-flex justify-content-between align-items-center"
             style="width: 700px; height: 70px; cursor: pointer;">
            
            <p class="m-0"><strong>장소:</strong> <span th:text="${schedule.location}">장소</span></p>
            <p class="m-0"><span th:text="${schedule.exerciseType}">종류</span></p>
            <p class="m-0"><strong>거리:</strong> <span th:text="${schedule.distance}">0</span> km</p>
            <p class="m-0" th:if="${schedule.power != null}">
                <strong>파워:</strong> <span th:text="${schedule.power}">0</span> W
            </p>
            <p class="m-0">
                <strong>마감 시간:</strong>
                <span th:text="${#temporals.format(schedule.expiredAt, 'yyyy-MM-dd HH:mm')}">시간</span>
            </p>
        </div>
    </a>
</div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
      <div class="d-flex ml-2 w-50">
        
      </div>
      
      <div>
           <a href='/meeting-post/make-meeting?postId=' class="button form-control btn-make-meeting">모임글 작성</a>

      </div>
    </div>
    <div id="meeting-post-section">
      <a th:href="@{/meeting-post/before-meeting(postId=${meetingPost.id})}"
         th:each="meetingPost : ${meetingPostList}"
         class="text-dark text-decoration-none">

      
      </a>
    </div>
      
    <div class="d-flex justify-content-start">

         <a href="/connect/strava" class="btn bg-color form-control" style="width: 150px;">스트라바 연동하기</a>
      <button id="btn-connect-cycle" class="form-control bg-color" style="width: 150px;"> 자전거 연동하기</button>


    
  </div>
  </div>

 </div>
   <div id="main-right" style="width: 400px;" class="d-flex  align-items-center ml-5">
    <div>
    <div>
      <div>작성해야 할 리포트</div>
        <div id="report-making-section" style="width:350px; height:200px  ;  overflow-y: auto;     
      border: 1px solid #ccc;">
                <div th:each="report : ${myReportMakingList}" class="report-card mb-3   border rounded " style="width:330px; height:75px">
                    <a th:href="@{'/meeting-post/report-making'(postId=${report.id})}" style="text-decoration: none; color: inherit; ">
                      <div class="d-flex justify-content-between">
                           <div><small>장소:</small> <small th:text="${report.location}">장소</small></div>
                        <div><small>만료 시간:</small> <small th:text="${#temporals.format(report.expiredAt, 'yyyy-MM-dd HH:mm')}">만료시간</small></div>
                      </div>
                       <div class="d-flex justify-content-between">
                         <div><small>운동 종류:</small> <small th:text="${report.exerciseType}">운동종류</small></div>
                        <div><small>거리:</small> <small th:text="${report.distance}">0.0</small> km</div>
                       </div>
                       
                    </a>
                </div>
      </div>


    </div>
    <th:block th:if="${userInfo == null}">
      <th:block th:replace="fragments/login :: loginFragment"></th:block>
    </th:block>

    <th:block th:unless="${userInfo == null}">
      <th:block th:replace="fragments/afterLogin :: afterLoginFragment"></th:block>
    </th:block>

    <div id="one-click-planner-section" class="mt-5" >
      <div>
        <div class="d-flex" style="width: 300px;">
          <span style="width: 150px;">파워입력</span>
          <input id="power-for-one-click" type="text">
        </div>
        <div class="d-flex"  style="width: 300px;">
          <span style="width: 150px;"> 탐색 거리</span>
          <input id="distance-for-one-click" type="text">
         
       </div>

       <div class="d-flex"  style="width: 300px;">
        <span style="width: 150px;"> 고도(단위:10m)</span>
        <input id="height-for-one-click" type="text">
        
       
      </div>

       <button id="btn-one-click" class="form-control">oneclick planner 실행</button>
      </div>

      <div id="thumbnail-list-for-one-click-section">
        <div class="thumbnail-for-one-click"> <!--th:each 로 oneclick에서 가져온 thumbnailList-->

        </div>


      </div>


    </div>
</div>

  </div>
  </div>
  </div>
</div>
</div>
</div>
 <span id="position-lat" class="d-none"></span>
      <span id="position-lng" class="d-none"></span>
         <input type="hidden" id="latitude" name="latitude" th:value="${lat}">
        <input type="hidden" id="longitude" name="longitude" th:value="${lng}">
 </body>


 

 
<script>

   let currentPage = 0;
   let startIdOfFinalReport = 0;
  const itemsPerPage = 5;
  let isLoading = false;
  let finished = false;
  let observedTarget = $("#observed-target")[0];
  let isFirstLoading = true;
  

  const observer = new IntersectionObserver((entries) => {
    
      if (entries[0].isIntersecting && !isLoading && !finished  ) {
         // alert("handle-intersect-activated");
        loadMorePosts(false);
      }
    }, {
      root: null,
      rootMargin: "0px",
      threshold: 0.5
    });




 
  
  let isLoadingFinalReport = false;
  let finishedFinalReport = false;
  let finalReportTarget = $("#observed-target-final-report")[0];

  const observerFinalReport = new IntersectionObserver((entries) => {
    if (entries[0].isIntersecting && !isLoadingFinalReport && !finishedFinalReport) {
      loadMoreFinalReports(false);
    }
  }, {
    root: null,
    rootMargin: "0px",
    threshold: 0.5
  });


   function appendFinalReports(reportList) {
    const container = document.getElementById("meeting-post-section");

    for (const post of reportList) {
      const a = document.createElement("a");
      a.href = `/meeting-post/final-report?postId=${post.id}`;
      a.className = "text-dark text-decoration-none";

      const div = document.createElement("div");
      div.className = "m-2 report-post d-flex justify-content-between bg-color ";
      div.style.cursor = "pointer";
        div.style.height = "100px"; // 높이 고정 추가
      div.innerHTML =  `
            <!--
              <div   class="bg-warning m-5" >
                <img src="${post.thumbnailUrl || ''}" alt="썸네일" />
              </div>
              -->
              <div class=" " >
                <div><span>${post.title}</span></div>
                ${
                  post.exerciseType === 'RUNNING'
                    ? `<div><span> 페이스: km 당</span> <span>${post.speed_min}</span>분 <span>${post.speed_sec}</span>초</div>`
                    : `<div>  파워: <span>${post.power}</span> W</div>
                      <div>  속도: <span>${post.speed}</span> km/h</div>`
                }
                <div>모임 장소: <span>${post.location}</span></div>
              </div>
              <div class=" ">
                <div><span>모임시간: </span><span>${post.expiredAt}</span></div>
                <div><span>모임인원 : </span><span>${post.currentHeadCount}</span> <span>명</span>  </div> 
              </div>
            `;
      a.appendChild(div);
      container.appendChild(a);
    }


    const oldTarget = document.getElementById("observed-target-final-report");
    if (oldTarget) oldTarget.remove();

    const observedDiv = document.createElement("div");
    observedDiv.id = "observed-target-final-report";
    observedDiv.style.height = "10px";
    container.appendChild(observedDiv);
    observerFinalReport.observe(observedDiv);
  }


  function reloadFinalReports() {
      // 기존 데이터 삭제
      const container = document.getElementById("meeting-post-section");
      container.innerHTML = "";

      // 상태 초기화
      isLoadingFinalReport = false;
      finishedFinalReport = false;
      currentPageFinalReport = 0;

      // 처음 로딩된 observed-target도 제거
      const oldTarget = document.getElementById("observed-target-final-report");
      if (oldTarget) oldTarget.remove();

      // 첫 페이지 로드 시작
      loadMoreFinalReports(true);
}

  function loadMoreFinalReports(shouldClear) { // shouldClear 트루이면 startId를 초기화하고 가장 최근 게시글부터 가져온다
    isLoadingFinalReport = true;
    currentPage = 0 ; // 당연히 report가 불려올때 모임전글의 페이지는 초기화

    $.ajax({
      url: '/meeting-post/final-report/select',
      method: 'POST',
      data: {"shouldClear" : shouldClear},
      success: function(response) {
        const list = response.result;
        if (!list || list.length === 0) {
          finishedFinalReport = true;
          isLoadingFinalReport = false;
          return;
        }

        appendFinalReports(list);
        isLoadingFinalReport = false;
      },
      error: function(xhr, status, error) {
        console.error("Final report 로딩 실패:", error);
        isLoadingFinalReport = false;
      }
    });
  }


     function loadMorePosts(  shouldClear) {
      if(shouldClear == true){
          const container = document.getElementById("meeting-post-section");
          container.innerHTML = "";
      }
      
          isLoading = true;

          const oldThumbnailListJson = localStorage.getItem("oldThumbnailList") || "[]";
          const oldThumbnailList = JSON.parse(oldThumbnailListJson);

          const startIndex = currentPage * itemsPerPage;
          const endIndex = startIndex + itemsPerPage;
          const pageItems = oldThumbnailList.slice(startIndex, endIndex);
      

          if (pageItems.length === 0) {
                  finished = true;
                  // 아무것도 안 불러온 상황일 때 메시지 표시
                  if (currentPage === 0) {
                   
                     const container = document.getElementById("meeting-post-section");
                       const div = document.createElement("div");
                        div.innerHTML = `<h3>표시할 모임이 없습니다  좌표를 설정해야 합니다</h3>`;
                      container.append(div);
                  } else {
                    const container = document.getElementById("meeting-post-section");
                       const div = document.createElement("div");
                        div.innerHTML = `<h3>더 이상 표시할 모임이 없습니다 </h3>`;
                      container.append(div);
                  }
                  isLoading = false;
                  return;
            }

          appendMeetingPosts(pageItems,shouldClear);
             isLoading = false;
             currentPage++;
          
    }

    function appendMeetingPosts(thumbnailList, shouldClear) {
              const container = document.getElementById("meeting-post-section");
              
          
      
          for (const post of thumbnailList) {
            const a = document.createElement("a");
            a.href = `/meeting-post/before-meeting?postId=${post.id}`;
            a.className = "text-dark text-decoration-none";

            const div = document.createElement("div");
            div.className = "m-2 meeting-post d-flex justify-content-between bg-color";
            div.style.cursor = "pointer";
            div.style.height = "100px"; // 높이 고정 추가
            div.innerHTML = `
            <!--
              <div id="image-thumbnail-section" class="bg-warning m-5">
                <img src="${post.thumbnailUrl || ''}" alt="썸네일" />
              </div>
              -->
              <div class=" " style="height: 120px;">
                <div><span>${post.title}</span></div>
                ${
                  post.exerciseType === 'RUNNING'
                    ? `<div><span>예상 페이스: km 당</span> <span>${post.speed_min}</span>분 <span>${post.speed_sec}</span>초</div>`
                    : `<div>예상 파워: <span>${post.power}</span> W</div>
                      <div>예상 속도: <span>${post.speed}</span> km/h</div>`
                }
                <div>모임 장소: <span>${post.location}</span></div>
              </div>
              <div class=" ">
                <div><span>남은 시간: </span><span>${post.remainedTime}</span></div>
                <div><span>${post.currentHeadCount}</span> / <span>${post.maxHeadCount}</span></div>
              </div>
            `;
            a.appendChild(div);
            container.appendChild(a);
          }

          const oldTarget = document.getElementById("observed-target");
            if (oldTarget) {
              oldTarget.remove();
            }

            // 새로운 감시 대상 추가
            const observedDiv = document.createElement("div");
            observedDiv.id = "observed-target";
            observedDiv.style.height = "10px";
            container.appendChild(observedDiv);
            observer.observe(observedDiv);



              
           
     }

         
    function updateThumbnails() {
      currentPage = 0;
      finished = false;
       let oldThumbnailListjson = localStorage.getItem('oldThumbnailList');
        let updatedAtOfthumbnailList = localStorage.getItem('updatedAtOfthumbnailList');
          const latAtStorage = localStorage.getItem('latAtStorage');
          const lngAtStorage = localStorage.getItem('lngAtStorage');
          const idAtStorage = localStorage.getItem('idAtStorage');

              if (!oldThumbnailListjson) {
                oldThumbnailListjson = JSON.stringify([]);  // 빈 리스트
              }
             

          console.log("updateThumbnails 호출됨");

          $.ajax({
            url: '/meeting-post/thumbnail/update',
            method: 'POST',
            data: {
              oldThumbnailListjson,
              updatedAtOfthumbnailList,
              latAtStorage,
              lngAtStorage,
              idAtStorage
            },
            dataType: 'json',
            success: function(response) {
              console.log("성공 응답:", response);

              localStorage.setItem('oldThumbnailList', JSON.stringify(response.thumbnailDtoList)); 
              localStorage.setItem('updatedAtOfthumbnailList', response.updatedAtOfthumbnailList);
              localStorage.setItem('latAtStorage', response.latAtStorage);
              localStorage.setItem('lngAtStorage', response.lngAtStorage);
              localStorage.setItem('idAtStorage', response.idAtStorage);
            loadMorePosts(true); // loadMorePosts에서 page=0 부터 가져온다

              // const container = $('#meeting-post-section');
              // container.empty();

              // const posts = response.thumbnailDtoList;
              // posts.forEach(post => {
              //   const isRunning = post.exerciseType === 'RUNNING';
              //   const postHtml = `
              //     <a href="/meeting-post/before-meeting?postId=${post.id}" class="text-dark text-decoration-none">
              //       <div class="m-3 meeting-post d-flex justify-content-between bg-color" style="cursor: pointer;">
              //         <div id="image-thumbnail-section" class="bg-warning">
              //           <img alt="썸네일" src="${post.thumbnailUrl || ''}" />
              //         </div>
              //         <div>
              //           <div><span>${post.title}</span></div>
              //           ${isRunning ? `
              //             <div>예상 페이스: km당 <span>${post.speed_min}</span>분 <span>${post.speed_sec}</span>초</div>
              //           ` : `
              //             <div>예상 파워: <span>${post.power}</span>W</div>
              //             <div>예상 속도: <span>${post.speed}</span>km/h</div>
              //           `}
              //           <div>모임 장소: <span>${post.location}</span></div>
              //         </div>
              //         <div>
              //           <div>남은 시간: <span>${post.remainedTime}</span></div>
              //           <div><span>${post.currentHeadCount}</span> / <span>${post.maxHeadCount}</span></div>
              //         </div>
              //       </div>
              //     </a>`;
              //   container.append(postHtml);
              // });

              // container.append(`
              //   <a href="/connect/strava">스트라바 연동하기</a>
              //   <button id="btn-connect-cycle">자전거 연동하기</button>
              // `);
            },
            error: function(xhr, status, error) {
              console.error('API 호출 실패:', error);
            }
          });
        }

       
 

  

       
$(function(){
     
  $("#keyword-search").click(function () {
           let keyword = $("#keyword-elastic").val();

            $.ajax({
              url: "/meeting-post/search",
              type: "GET",
              data: {"keyword": keyword },
              success: function (response) {
                const $container = $("#search-result");
                $container.empty();

                if (response.result === "success") {
                  const list = response.searchList;

                  if (list.length === 0) {
                    $container.html("<p>검색 결과가 없습니다.</p>");
                    return;
                  }

                  list.forEach(function (post) {
                    let html = `
                    <a href="/meeting-post/before-meeting?postId=${post.id}" class=" border rounded text-decoration-none text-dark bg-color">
                        <div class="search-item">
                          <h4>${post.title}</h4>
                          <div class="d-flex justify-content-between">
                             
                              <p>${post.exerciseType}</p>
                              <p>${post.location}</p>
                          </div>
                           <div class="d-flex justify-content-between">
                             
                             <p>${post.speed || ""}</p>
                          <p>${post.power || ""}</p>
                          </div>
                           <div class="d-flex justify-content-between">
                              
                              <p>${post.height || ""}</p>
                              <p><small>${post.createdAt || ""}</small></p>
                          </div>
                         
                       
                          
                        </div>
                      </a>
                    `;
                    $container.append(html);
                  });
                } else {
                  $container.html("<p>검색 실패</p>");
                }
              },
              error: function () {
                $("#search-result").html("<p>서버 오류</p>");
              }
            });
        });

  

   
      
    
   
    $("#btn-login").on("click",function(){


        let loginId = $("#loginId").val().trim();
        let password = $("#password").val().trim();

         if(!loginId){
            alert("아이디를 입력하세요");
            return false;
        }
         if(!password){
            alert("비밀번호를 입력하세요");
            return false;
        }
       $.ajax({
            url: "/user/sign-in",
            type: "POST",
            data: {
                loginId: loginId,
                password: password
            },
            success: function (data) {
                if (data.code === 200) {
                    location.reload();
                } else {
                    alert(data.error_message);
                }
            },
            error: function (e) {
                alert("로그인에 실패하였습니다");
            }
       });
    });

     $("#btn-logout").on("click",function(){
       $.ajax({
            url: "/user/sign-out",
            type: "POST",
            error: function (e) {
                alert("로그인에 실패하였습니다");
            }
       });
    });


     $("#btn-connect-cycle").on("click",function(){


        let pageUrl = "/main-page/before-meeting";
       
       $.ajax({
            url: "/strava-api/connect-cycle",
            type: "GET",
            data: {
               "pageUrl" : pageUrl
            },
            success: function (data) {
                if (data.result === "success") {
                    alert("연동 성공");
                } else if(data.result === "fail_get_token") {
                      alert("토큰 만료. strava 연동 필요합니다");
                     window.location.href = data.url;
                }else{
                  alert(result.result);
                }
            },
            error: function (e) {
                alert("연동에 실패하였습니다");
            }
       });
    });

     
    $("#btn-location").on("click",function(){


        let  lat = $("#position-lat").text().trim();
        let lng = $("#position-lng").text().trim();

         
         if(!lat || !lng){
            alert("주소에서 위치를 클릭해주세요");
            return false;
        }
       $.ajax({
            url: "/main-page/set-location",
            type: "POST",
            data: {
                lat: lat,
                lng: lng
            },
            success: function (data) {
                if (data.result === "success") {
                   alert("위치 설정 성공하였습니다");
                   location.reload(); 
                } else {
                    alert(data.error_message);
                }
            },
            error: function (e) {
                alert("위치 설정 실패하였습니다");
            }
       });
    });

    $("#btn-one-click").on("click", function () {
        let lat = $("#position-lat").text().trim();
        let lng = $("#position-lng").text().trim();
        let userFtp = $("#power-for-one-click").val().trim();
        let distance = $("#distance-for-one-click").val().trim();
        let height = $("#height-for-one-click").val().trim();

        if (!lat || !lng) {
            alert("주소에서 위치를 클릭해주세요");
            return false;
        }

        if (!userFtp || !distance) {
            alert("FTP와 거리 값을 입력해주세요.");
            return false;
        }

        if (!height) {
            alert("고도 값을 입력해주세요.");
            return false;
        }

        $.ajax({
            url: "/main-page/activate-one-click",
            type: "POST",
            data: {
                lat: lat,
                lng: lng,
                user_ftp: userFtp,
                distance: distance,
                height : height
            },
            success: function (data) {
                if (data.result === "success") {
                   

                  
                    let container = $("#thumbnail-list-for-one-click-section .thumbnail-for-one-click");
                    container.empty(); // 기존 내용 비우기

                    data.thumbnailDtoList.forEach(function (thumb) {
                         let html = `
                          <a href="/meeting-post/before-meeting?postId=${thumb.id}" class="text-decoration-none text-dark bg-color border rounded">
                              <div class="thumbnail-card">
                                  <h4>${thumb.title}</h4>
                                  <div class="d-flex justify-content-between">
                                    <p><strong>장소:</strong> ${thumb.location}</p>
                                    
                                    <p><strong>운동 거리:</strong> ${thumb.distance} km</p>
                                  </div>
                                  <div class="d-flex justify-content-between">
                                    <p><strong>파워:</strong> ${thumb.power} km/h</p>
                                    <p><strong>마감 시간:</strong> ${thumb.expiredAt}</p>
                                  </div>
                              </div>
                          </a>
                      `;
                         $("#thumbnail-list-for-one-click-section .thumbnail-for-one-click").append(html);
                      });

                } else {
                    alert(data.error_message || "오류가 발생했습니다.");
                }
            },
            error: function () {
                alert("작동 오류");
            }
        });
     });

    
   


  });
    document.addEventListener("DOMContentLoaded", function () {
      console.log("DOMContentLoaded 발생");
      updateThumbnails(); // 여기서 호출!

      
    });

  

             


 </script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dd189a1a763710dd5dc72319d26d4284&libraries=services"></script>
 <script>

          let lat = $("#latitude").val();
          let lng = $("#longitude").val();
            var container = document.getElementById('map');
            var options = {
                center: new kakao.maps.LatLng(lat, lng),
                level: 3
            };

            var map = new kakao.maps.Map(container, options);


            var infowindow = new kakao.maps.InfoWindow({zIndex:1});


            var marker = new kakao.maps.Marker({
                // 지도 중심좌표에 마커를 생성합니다
                position: map.getCenter()
              //  clickable: true
              });
            // 지도에 마커를 표시합니다
            marker.setMap(map);

            marker.setClickable(true);


            // 장소 검색 객체를 생성합니다
            var ps = new kakao.maps.services.Places();
            var geocoder = new kakao.maps.services.Geocoder();


                function searchLocation() {
                    var keyword = document.getElementById('keyword').value;
                     ps.keywordSearch(keyword, placesSearchCB);

                    
                 }

              
                kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
                    searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
                        if (status === kakao.maps.services.Status.OK) {
                            // var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                            var detailAddr  = '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
                            
                            var content = '<div class="bAddr">' +
                                            
                                            detailAddr + 
                                        '</div>';

                            // 마커를 클릭한 위치에 표시합니다 
                            marker.setPosition(mouseEvent.latLng);
                            marker.setMap(map);
                          $("#position-lng").text(mouseEvent.latLng.getLng());
                          $("#position-lat").text(mouseEvent.latLng.getLat());

                            // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                            infowindow.setContent(content);
                            infowindow.open(map, marker);
                        }   
                    });
                     map.setDraggable(true);
                });

                function searchDetailAddrFromCoords(coords, callback) {
                    // 좌표로 법정동 상세 주소 정보를 요청합니다
                    geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
                }



                //  kakao.maps.event.addListener(map, 'click', function(mouseEvent) { 

                //          // 클릭한 위도, 경도 정보를 가져옵니다-->
                //          var latlng = mouseEvent.latLng; 

                //             marker.setPosition(latlng);
                //             marker.setMap(map);

                //        map.setDraggable(true);



                //    }); 
            // 키워드로 장소를 검색합니다


            // 키워드 검색 완료 시 호출되는 콜백함수 입니다
            function placesSearchCB (data, status, pagination) {
                if (status === kakao.maps.services.Status.OK) {

                    // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                    // LatLngBounds 객체에 좌표를 추가합니다
                    var bounds = new kakao.maps.LatLngBounds();

                    for (var i=0; i<data.length; i++) {
                        displayMarker(data[i]);
                        bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
                    }

                    // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                    map.setBounds(bounds);
                }
            }

            // 지도에 마커를 표시하는 함수입니다
          function displayMarker(place) {

                    // 마커를 생성하고 지도에 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: new kakao.maps.LatLng(place.y, place.x)
            });

            // 마커에 클릭이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'click', function() {
                // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
                infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
                infowindow.open(map, marker);
                  const position = marker.getPosition();
                $("#position-lng").text(position.getLng());
                $("#position-lat").text(position.getLat());
            });
        }

             
















      </script>



</body>
</html>