<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="d-flex large-page">
  <div id="main-left">
    <div class="h-25">
      <h1>Quick</h1>
      <h1>Flash</h1>
    </div>
    <div class="h-50">
      <nav class="nav flex-column bg-dark p-3 rounded shadow h-100" style="width: 220px;">
        <a class="nav-link text-white fw-semibold mt-4" href="#">🏃 모임게시판</a>
        <a class="nav-link text-white fw-semibold mt-4" href="#">💬 자유게시판</a>
        <a class="nav-link text-white fw-semibold mt-4" href="#">🖼️ 갤러리</a>
        <a class="nav-link text-white fw-semibold mt-4" href="#">📊 운동 리포트</a>
      </nav>
    </div>
    <div  class= "h-25" id="ranking-section">
      <div>daily</div>
      <div>weekly</div>
      <div>monthly</div>
    </div>
    <div id="analysis">

    </div>

  </div>
  <div id="main-middle">
    <div id="my-schedule-section">
      <h3>my schedule</h3>
      <div>
        <div class="meeting-post d-flex">
          <div><small>리더</small></div>
          <div><small>24h 35m 남음</small></div>

          <div><small>반포gs</small></div>
          <div><small>페이스 4:00min/km</small></div>
          <div><small>2명/5명</small></div>

        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="d-flex ml-2 w-50">
        <div><h3>내 위치</h3></div>
        <span>반포gs</span>
        <button class="button form-control w-25">Kakao맵 연동</button>
      </div>
      <div class="d-flex ml-2">
        <div><span>지역category</span></div>
        <div class="ml-2"><span>서울 동작구</span></div>
      </div>
      <div>
        <button class="button form-control">모임글 작성</button>
      </div>
    </div>
    <div id="meeting-post-section">
      <div class="m-3 meeting-post d-flex justify-content-between">
        <div id="image-thumbnail-section" class="bg-warning">
          <img src="">
        </div>
        <div>
          <div>제목</div>
          <div>예상페이스:0:00min/km</div>
          <div>예상 파워 : 300w</div>
          <div>모임 장소: 반포gs</div>
        </div>
        <div>
          <div><span>leader: 나 사나이다</span></div>
          <div><span>남은 시간: 24시간 30분</span></div>
          <div><span>2명/5명</span></div>

        </div>

      </div>
    </div>

  </div>
  <div id="main-right">
    <div class=" bg-warning" id="my-image-section">

    </div>
    <div class="d-flex">
      <div>
        <button class="button form-control">카카오로 본인인증</button>
      </div>
      <div>
        <div><span>my page</span></div>
        <div><span>setting</span></div>
        <div><span>logout</span></div>

      </div>

    </div>
    <div id="one-click-planner-section"></div>


  </div>

</div>
</body>
</html>