<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickflash.join.mapper.JoinMapper">

    <select id="setJoinListForBeforeMeetingByPostId"  parameterType="int" resultType="com.quickflash.join.dto.JoinBeforeMeetingDto">
        SELECT
        `userId`,
        `postId`,
        `userName`
        FROM `join`
        WHERE postId = #{postId}
    </select>

</mapper>

