<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickflash.meeting_join.mapper.MeetingJoinMapper">

    <select id="selectMeetingJoinListForDtoByPostId"  parameterType="int" resultType="com.quickflash.meeting_join.dto.MeetingJoinDto">
        SELECT
        `userId`,
        `postId`,
        `userName`,
        `createdAt`
        FROM `meeting_join`
        WHERE postId = #{postId}
    </select>



</mapper>

