

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quickflash.meetingPost.mapper.MeetingPostMapper">
    <select id="getUserIdById" parameterType="int" resultType="int">
        SELECT
            userId
        FROM
            meetingPost
        WHERE id = #{postId}
    </select>

    <insert id="insertMeetingPost" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `meetingPost` (
        `userId`,
        `title`,
        `location`,
        `locationpoint`,
        `restLocation`,
        `expiredAt`,
        `contentText`,
        `afterMeetingContent`,
        `exerciseType`,
        `distance`,
        `speed`,
        `power`,
        `minHeadCount`,
        `isRestExist`,
        `isAbandonOkay`,
        `isAfterPartyExist`,
        `isLocationConnectedToKakao`,
        `isUserAbilityConnectedToStrava`,
        `isMyPaceShown`,
        `isMyFtpShown`,
        `currentStatus`,
        `createdAt`,
        `updatedAt`
        )



        VALUES (
        #{userId},
        #{title},
        #{location},
        ST_GeomFromText(CONCAT('POINT(', #{longitude}, ' ', #{latitude}, ')'), 4326),
        #{restLocation},
        #{expiredAt},
        #{contentText},
        #{afterMeetingContent},
        #{exerciseType},
        #{distance},
        #{speed},
        #{power},
        #{minHeadCount},
        #{isRestExist},
        #{isAbandonOkay},
        #{isAfterPartyExist},
        #{isLocationConnectedToKakao},
        #{isUserAbilityConnectedToStrava},
        #{isMyPaceShown},
        #{isMyFtpShown},
        #{currentStatus},
        NOW(),
        NOW()
        )
    </insert>

    <select id="selectMeetingPostById" resultType="com.quickflash.meetingPost.domain.MeetingPost">
        SELECT
        `id`,
        `userId`,
        `title`,
        `location`,
        `restLocation`,
        ST_Y(locationpoint) AS `latitude`,
        ST_X(locationpoint) AS `longitude`,
        `expiredAt`,
        `contentText`,
        `afterMeetingContent`,
        `exerciseType`,
        `distance`,
        `speed`,
        `power`,
        `minHeadCount`,
        `isRestExist`,
        `isAbandonOkay`,
        `isAfterPartyExist`,
        `isLocationConnectedToKakao`,
        `isUserAbilityConnectedToStrava`,
        `isMyPaceShown`,
        `isMyFtpShown`,
        `currentStatus`,
        `createdAt`,
        `updatedAt`
        FROM
        `meetingPost`
        WHERE
        `id` = #{id}
    </select>



    <update id="updateStatusById" parameterType="map">
        UPDATE
            `meetingPost`
        SET
            `currentStatus` = #{currentStatus},
            `updatedAt` = NOW()
        WHERE `id` = #{id}
    </update>

    <select id="selectExpiredAtAndStatusById" parameterType="int" resultType="map">
        SELECT
        `expiredAt`,
        `currentStatus`
        FROM
        `meetingPost`
        WHERE
        `id` = #{id}
    </select>



</mapper>




