<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickflash.meeting_join.mapper.MeetingJoinMapper">

    <select id="selectMeetingJoinListForDtoByPostId"  parameterType="int" resultType="map">
        SELECT
        `userId`,
        `postId`,
        `userName`,
        `createdAt`
        FROM `meeting_join`
        WHERE postId = #{postId}
    </select>

    <update id="updateMeetingJoinList">
        UPDATE `meeting_join`
        SET `joinStatus` = CASE `userId`
        <foreach collection="userIdToJoinStatus" item="status" index="userId">
            WHEN #{userId} THEN #{status}
        </foreach>
        END
        WHERE `postId` = #{postId}
        AND `userId` IN
        <foreach collection="userIdToJoinStatus.keySet()" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </update>


    <select id="selectIdForDateStandard" parameterType="java.time.LocalDateTime" resultType="int">
        SELECT `id`
        FROM `meeting_join`
        WHERE `createdAt` >= #{oneMonthAgo}
        ORDER BY `createdAt` ASC
        LIMIT 1
    </select>
    <select id="selectMeetingJoinForTrustBatch"  parameterType="map" resultType="com.quickflash.meeting_join.dto.MeetingJoinDtoForBatch">

       SELECT `id`,`userId`,`joinStatus` FROM `meeting_join`
        WHERE `id` >= #{standardId}
        AND `userId` IN
        <foreach collection="userIdList" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        ORDER BY `id` DESC



    </select>



</mapper>


