<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quickflash.meetingPost.mapper.MeetingPostMapper">
    <select id="getUserIdById" parameterType="int" resultType="int">
        SELECT
            `userId`
        FROM
            `meetingPost`
        WHERE `id` = #{id}
    </select>

    <select id="selectMeetingPostListForTest" resultType = "com.quickflash.meetingPost.domain.MeetingPost">
        SELECT
        `id`,
        `userId`,
        `title`,
        `location`,

        ST_Y(locationpoint) AS `latitude`,
        ST_X(locationpoint) AS `longitude`,
        `restLocation`,
        `expiredAt`,
        `contentText`,
        `afterMeetingContent`,
        `exerciseType`,
        `distance`,
        `speed`,
        `power`,
        `minHeadCount`,
        `maxHeadCount`,
        `isRestExist`,
        `isAbandonOkay`,
        `isAfterPartyExist`,
        `isLocationConnectedToKakao`,
        `isUserAbilityConnectedToStrava`,
        `isMyPaceShown`,
        `isMyFtpShown`,
        `currentStatus`,
        `createdAt`,
        `updatedAt`
        FROM
        `meetingPost`
        ORDER BY `createdAt` DESC
        LIMIT 10
    </select>
    <select id="selectMeetingPostListForThumbnailTest" resultType = "map">



        SELECT
        `id`,

        `title`,
        `location`,
        `expiredAt`,
        `exerciseType`,
        `distance`,
        `speed`,
        `power`,
        `minHeadCount`,
        `maxHeadCount`,
        `isRestExist`,
        `isAbandonOkay`,
        `createdAt`
        FROM
        `meetingPost`
        ORDER BY `createdAt` DESC
        LIMIT 10
    </select>

    <insert id="insertMeetingPost" parameterType = "com.quickflash.meetingPost.domain.MeetingPost" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `meetingPost` (
        `userId`,
        `title`,
        `location`,
        `locationpoint`,
        `restLocation`,
        `expiredAt`,
        `contentText`,
        `afterMeetingContent`,
        `exerciseType`,
        `distance`,
        `speed`,
        `power`,
        `minHeadCount`,
        `maxHeadCount`,
        `isRestExist`,
        `isAbandonOkay`,
        `isAfterPartyExist`,
        `isLocationConnectedToKakao`,
        `isUserAbilityConnectedToStrava`,
        `isMyPaceShown`,
        `isMyFtpShown`,
        `currentStatus`,
        `createdAt`,
        `updatedAt`
        )



        VALUES (
        #{userId},
        #{title},
        #{location},
        ST_GeomFromText(CONCAT('POINT(', #{longitude}, ' ', #{latitude}, ')'), 4326),
        #{restLocation},
        #{expiredAt},
        #{contentText},
        #{afterMeetingContent},
        #{exerciseType},
        #{distance},
        #{speed},
        #{power},
        #{minHeadCount},
        #{maxHeadCount},
        #{isRestExist},
        #{isAbandonOkay},
        #{isAfterPartyExist},
        #{isLocationConnectedToKakao},
        #{isUserAbilityConnectedToStrava},
        #{isMyPaceShown},
        #{isMyFtpShown},
        #{currentStatus},
        NOW(),
        NOW()

        )
    </insert>


    <select id="selectMaxCountById"  parameterType = "int" resultType="int">
        SELECT

        `maxHeadCount`

        FROM
        `meetingPost`
        WHERE
        `id` = #{id}
    </select>

    <select id="selectMeetingPostById"  parameterType = "int" resultType="com.quickflash.meetingPost.domain.MeetingPost">
        SELECT
        `id`,
        `userId`,
        `title`,
        `location`,

        ST_Y(locationpoint) AS `latitude`,
        ST_X(locationpoint) AS `longitude`,
        `restLocation`,
        `expiredAt`,
        `contentText`,
        `afterMeetingContent`,
        `exerciseType`,
        `distance`,
        `speed`,
        `power`,
        `minHeadCount`,
        `maxHeadCount`,
        `isRestExist`,
        `isAbandonOkay`,
        `isAfterPartyExist`,
        `isLocationConnectedToKakao`,
        `isUserAbilityConnectedToStrava`,
        `isMyPaceShown`,
        `isMyFtpShown`,
        `currentStatus`,
        `createdAt`,
        `updatedAt`
        FROM
        `meetingPost`
        WHERE
        `id` = #{id}
    </select>



    <update id="updateStatusById" parameterType="map">
        UPDATE
            `meetingPost`
        SET
            `currentStatus` = #{currentStatus},
            `updatedAt` = NOW()
        WHERE `id` = #{id}
    </update>

    <select id="selectExpiredAtAndStatusById" parameterType="int" resultType="map">
        SELECT
        `expiredAt`,
        `currentStatus`
        FROM
        `meetingPost`
        WHERE
        `id` = #{id}
    </select>

    <update id="updateMeetingPost" parameterType="com.quickflash.meetingPost.domain.MeetingPost">
        UPDATE `meetingPost`
        SET
        `title` = #{title},
        `location` = #{location},
        `locationpoint` = ST_GeomFromText(CONCAT('POINT(', #{longitude}, ' ', #{latitude}, ')'), 4326),
        `restLocation` = #{restLocation},
        `expiredAt` = #{expiredAt},
        `contentText` = #{contentText},
        `afterMeetingContent` = #{afterMeetingContent},
        `exerciseType` = #{exerciseType},
        `distance` = #{distance},
        `speed`= #{speed},
        `power` = #{power},
        `minHeadCount` = #{minHeadCount},
        `maxHeadCount` = #{maxHeadCount},
        `isRestExist` = #{isRestExist},
        `isAbandonOkay` = #{isAbandonOkay},
        `isAfterPartyExist` = #{isAfterPartyExist},
        `isLocationConnectedToKakao` = #{isLocationConnectedToKakao},
        `isUserAbilityConnectedToStrava` = #{isUserAbilityConnectedToStrava},
        `isMyPaceShown` = #{isMyPaceShown},
        `isMyFtpShown` = #{isMyFtpShown},
        `currentStatus` = #{currentStatus},
        `updatedAt` = #{updatedAt}
        WHERE `id` = #{id}
    </update>
    <update id="updateMeetingPostBeforeMeeting" parameterType="com.quickflash.meetingPost.domain.MeetingPost">
        UPDATE `meetingPost`
        SET
        `title` = #{title},
        `location` = #{location},
        `locationpoint` = ST_GeomFromText(CONCAT('POINT(', #{longitude}, ' ', #{latitude}, ')'), 4326),
        `restLocation` = #{restLocation},
        `expiredAt` = #{expiredAt},
        `contentText` = #{contentText},


        `distance` = #{distance},
        `speed`= #{speed},
        `power` = #{power},
        `minHeadCount` = #{minHeadCount},
        `maxHeadCount` = #{maxHeadCount},
        `isRestExist` = #{isRestExist},
        `isAbandonOkay` = #{isAbandonOkay},
        `isAfterPartyExist` = #{isAfterPartyExist},
        `isLocationConnectedToKakao` = #{isLocationConnectedToKakao},
        `isUserAbilityConnectedToStrava` = #{isUserAbilityConnectedToStrava},
        `isMyPaceShown` = #{isMyPaceShown},
        `isMyFtpShown` = #{isMyFtpShown},

        `updatedAt` = #{updatedAt}
        WHERE `id` = #{id}
    </update>

    <update id="updateMeetingPostAfterMeeting" parameterType="com.quickflash.meetingPost.domain.MeetingPost">
        UPDATE `meetingPost`
        SET

        `location` = #{location},
        `locationpoint` = ST_GeomFromText(CONCAT('POINT(', #{longitude}, ' ', #{latitude}, ')'), 4326),
        `restLocation` = #{restLocation},

        `afterMeetingContent` = #{afterMeetingContent},

        `distance` = #{distance},
        `speed`= #{speed},
        `power` = #{power},

        `isLocationConnectedToKakao` = #{isLocationConnectedToKakao},
        `isUserAbilityConnectedToStrava` = #{isUserAbilityConnectedToStrava},

        `currentStatus` = #{currentStatus},
        `updatedAt` = #{updatedAt}
        WHERE `id` = #{id}
    </update>


</mapper>




