<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quickflash.meetingPost.mapper.MeetingPostMapper">
    <select id="getUserIdById" parameterType="int" resultType="int">
        SELECT
            `userId`
        FROM
            `meetingPost`
        WHERE `id` = #{id}
    </select>

    <select id="selectMeetingPostListForTest" resultType = "com.quickflash.meetingPost.domain.MeetingPost">
        SELECT
        `id`,
        `userId`,
        `title`,
        `location`,

        ST_Y(locationpoint) AS `longitude`,
        ST_X(locationpoint) AS `latitude`,
        `restLocation`,
        `expiredAt`,
        `contentText`,
        `afterMeetingContent`,
        `exerciseType`,
        `distance`,
        `speed`,
        `power`,
        `minHeadCount`,
        `maxHeadCount`,
        `isRestExist`,
        `isAbandonOkay`,
        `isAfterPartyExist`,
        `isLocationConnectedToKakao`,
        `isUserAbilityConnectedToStrava`,
        `isMyPaceShown`,
        `isMyFtpShown`,
        `currentStatus`,
        `createdAt`,
        `updatedAt`
        FROM
        `meetingPost`
        ORDER BY `createdAt` DESC
        LIMIT 10
    </select>
    <select id="selectMeetingPostListForThumbnailTest" resultType = "map">



        SELECT
        `id`,

        `title`,
        `location`,
        `expiredAt`,
        `exerciseType`,
        `distance`,
        `speed`,
        `power`,
        `minHeadCount`,
        `maxHeadCount`,
        `isRestExist`,
        `isAbandonOkay`,
        `createdAt`
        FROM
        `meetingPost`
        ORDER BY `createdAt` DESC
        LIMIT 10
    </select>

    <insert id="insertMeetingPost" parameterType = "com.quickflash.meetingPost.domain.MeetingPost" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `meetingPost` (
        `userId`,
        `title`,
        `location`,
        `locationpoint`,
        `restLocation`,
        `expiredAt`,
        `contentText`,
        `afterMeetingContent`,
        `exerciseType`,
        `distance`,
        `speed`,
        `power`,
        `minHeadCount`,
        `maxHeadCount`,
        `isRestExist`,
        `isAbandonOkay`,
        `isAfterPartyExist`,
        `isLocationConnectedToKakao`,
        `isUserAbilityConnectedToStrava`,
        `isMyPaceShown`,
        `isMyFtpShown`,
        `currentStatus`,
        `createdAt`,
        `updatedAt`
        )



        VALUES (
        #{userId},
        #{title},
        #{location},
        ST_GeomFromText(CONCAT('POINT(', #{latitude}, ' ', #{longitude}, ')'), 4326),
        #{restLocation},
        #{expiredAt},
        #{contentText},
        #{afterMeetingContent},
        #{exerciseType},
        #{distance},
        #{speed},
        #{power},
        #{minHeadCount},
        #{maxHeadCount},
        #{isRestExist},
        #{isAbandonOkay},
        #{isAfterPartyExist},
        #{isLocationConnectedToKakao},
        #{isUserAbilityConnectedToStrava},
        #{isMyPaceShown},
        #{isMyFtpShown},
        #{currentStatus},
        NOW(),
        NOW()

        )
    </insert>


    <select id="selectMaxCountById"  parameterType = "int" resultType="int">
        SELECT

        `maxHeadCount`

        FROM
        `meetingPost`
        WHERE
        `id` = #{id}
    </select>

    <select id="selectMeetingPostById"  parameterType = "int" resultType="com.quickflash.meetingPost.domain.MeetingPost">
        SELECT
        `id`,
        `userId`,
        `title`,
        `location`,

        ST_Y(locationpoint) AS `longitude`,
        ST_X(locationpoint) AS `latitude`,
        `restLocation`,
        `expiredAt`,
        `contentText`,
        `afterMeetingContent`,
        `exerciseType`,
        `distance`,
        `speed`,
        `power`,
        `minHeadCount`,
        `maxHeadCount`,
        `isRestExist`,
        `isAbandonOkay`,
        `isAfterPartyExist`,
        `isLocationConnectedToKakao`,
        `isUserAbilityConnectedToStrava`,
        `isMyPaceShown`,
        `isMyFtpShown`,
        `currentStatus`,
        `createdAt`,
        `updatedAt`
        FROM
        `meetingPost`
        WHERE
        `id` = #{id}
    </select>



    <update id="updateStatusById" parameterType="map">
        UPDATE
            `meetingPost`
        SET
            `currentStatus` = #{currentStatus},
            `updatedAt` = NOW()
        WHERE `id` = #{id}
    </update>

    <select id="selectExpiredAtAndStatusById" parameterType="int" resultType="map">
        SELECT
        `expiredAt`,
        `currentStatus`
        FROM
        `meetingPost`
        WHERE
        `id` = #{id}
    </select>

    <update id="updateMeetingPost" parameterType="com.quickflash.meetingPost.domain.MeetingPost">
        UPDATE `meetingPost`
        SET
        `title` = #{title},
        `location` = #{location},
        `locationpoint` = ST_GeomFromText(CONCAT('POINT(', #{latitude}, ' ', #{longitude}, ')'), 4326),
        `restLocation` = #{restLocation},
        `expiredAt` = #{expiredAt},
        `contentText` = #{contentText},
        `afterMeetingContent` = #{afterMeetingContent},
        `exerciseType` = #{exerciseType},
        `distance` = #{distance},
        `speed`= #{speed},
        `power` = #{power},
        `minHeadCount` = #{minHeadCount},
        `maxHeadCount` = #{maxHeadCount},
        `isRestExist` = #{isRestExist},
        `isAbandonOkay` = #{isAbandonOkay},
        `isAfterPartyExist` = #{isAfterPartyExist},
        `isLocationConnectedToKakao` = #{isLocationConnectedToKakao},
        `isUserAbilityConnectedToStrava` = #{isUserAbilityConnectedToStrava},
        `isMyPaceShown` = #{isMyPaceShown},
        `isMyFtpShown` = #{isMyFtpShown},
        `currentStatus` = #{currentStatus},
        `updatedAt` = #{updatedAt}
        WHERE `id` = #{id}
    </update>
    <update id="updateMeetingPostBeforeMeeting" parameterType="com.quickflash.meetingPost.domain.MeetingPost">
        UPDATE `meetingPost`
        SET
        `title` = #{title},
        `location` = #{location},
        `locationpoint` = ST_GeomFromText(CONCAT('POINT(', #{latitude}, ' ', #{longitude}, ')'), 4326),
        `restLocation` = #{restLocation},
        `expiredAt` = #{expiredAt},
        `contentText` = #{contentText},


        `distance` = #{distance},
        `speed`= #{speed},
        `power` = #{power},
        `minHeadCount` = #{minHeadCount},
        `maxHeadCount` = #{maxHeadCount},
        `isRestExist` = #{isRestExist},
        `isAbandonOkay` = #{isAbandonOkay},
        `isAfterPartyExist` = #{isAfterPartyExist},
        `isLocationConnectedToKakao` = #{isLocationConnectedToKakao},
        `isUserAbilityConnectedToStrava` = #{isUserAbilityConnectedToStrava},
        `isMyPaceShown` = #{isMyPaceShown},
        `isMyFtpShown` = #{isMyFtpShown},

        `updatedAt` = #{updatedAt}
        WHERE `id` = #{id}
    </update>

    <update id="updateMeetingPostAfterMeeting" parameterType="com.quickflash.meetingPost.domain.MeetingPost">
        UPDATE `meetingPost`
        SET

        `location` = #{location},
        `locationpoint` = ST_GeomFromText(CONCAT('POINT(', #{latitude}, ' ', #{longitude}, ')'), 4326),
        `restLocation` = #{restLocation},

        `afterMeetingContent` = #{afterMeetingContent},

        `distance` = #{distance},
        `speed`= #{speed},
        `power` = #{power},

        `isLocationConnectedToKakao` = #{isLocationConnectedToKakao},
        `isUserAbilityConnectedToStrava` = #{isUserAbilityConnectedToStrava},

        `currentStatus` = #{currentStatus},
        `updatedAt` = #{updatedAt}
        WHERE `id` = #{id}
    </update>


    <select id="selectMeetingPostForOrderDtoMapByBoundBox"  parameterType = "map" resultType="com.quickflash.meetingPost.dto.MeetingPostForOrderDto">
    SELECT
         `id`
        ,`userId`
        , ST_Y(`locationpoint`) AS `longitude`
        , ST_X(`locationpoint`) AS `latitude`
        ,`exerciseType`
        ,`speed`
        ,`power`
        FROM
            `meetingpost`
        WHERE
        MBRContains(
            ST_GeomFromText(
                CONCAT(
                    'POLYGON((',
                        #{minLat}, ' ', #{minLng}, ',',
                        #{maxLat}, ' ', #{minLng}, ',',
                        #{maxLat}, ' ', #{maxLng}, ',',
                        #{minLat}, ' ', #{maxLng}, ',',
                        #{minLat}, ' ', #{minLng},
                    '))'
                ),4326
            ),
            `locationpoint`
        )
    </select>

    <resultMap id="thumbnailDtoMap" type="com.quickflash.meetingPost.dto.ThumbnailDto">
        <result property="id" column="id" />
        <result property="title" column="title" />
        <result property="location" column="location" />
        <result property="expiredAt" column="expiredAt" />
        <result property="exerciseType" column="exerciseType" />
        <result property="distance" column="distance" />
        <result property="speed" column="speed" />
        <result property="power" column="power" />
        <result property="minHeadCount" column="minHeadCount" />
        <result property="maxHeadCount" column="maxHeadCount" />
        <result property="isRestExist" column="isRestExist" />
        <result property="isAbandonOkay" column="isAbandonOkay" />
        <result property="createdAt" column="createdAt" />
    </resultMap>

    <select id="selectThumbnailDtoListByPostIds"
            parameterType="list"
            resultMap="thumbnailDtoMap">

        SELECT
        `id`,
        `title`,
        `location`,
        `expiredAt`,
        `exerciseType`,
        `distance`,
        `speed`,
        `power`,
        `minHeadCount`,
        `maxHeadCount`,
        `isRestExist`,
        `isAbandonOkay`,
        `createdAt`
        FROM
        `meetingPost`
        WHERE
        `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

        ORDER BY FIELD(`id`,
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
        )



    </select>

    <select id="selectCurrentStatusForBatch"
            parameterType="list"
            resultMap="thumbnailDtoMap">


</mapper>




