<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:fragment="loginFragment">
    <!--header 의 Fragment -->
    <div>
        <div class="d-flex">
            <span>아이디</span>
            <input type="text" id="loginId">


        </div>
        <div class="d-flex">
            <span>비밀번호</span>
            <input type="text" id="password">


        </div>
        <div>
            <button class="button form-control" id="btn-login">로그인</button>
            <a href="/user/sign-up">회원가입</a>
        </div>

    </div>

</th:block>

</html>

