<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container bg-color">
    <div class="d-flex justify-content-end">
        <div>
            <div class="d-flex">
                <div><h4>남은시간:</h4></div>
               <!-- <div><h4 th:text="${meetingPost.remainedTime}">00시간 00분</h4></div> -->
            </div>
            <div class="d-flex">
                <div><span>4명</span></div>
                <div><h1>/</h1></div>
                <div><span th:text="${meetingPost.maxHeadCount}">5명</span></div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <!-- 모임참가 관련 정보들 -->
        <div>
            <div class="d-flex">
                <div><h2>모이는 위치</h2></div>
                <div><span th:text="${meetingPost.location}"></span></div>
                <div>
                    <div>지도</div>
                    <div><div class="bg-warning"></div></div>
                </div>
            </div>

            <div class="d-flex">
                <th:block th:if="${meetingPost.exerciseType == 'RUNNING'}">
                    <div class="d-flex">
                        <div><span>예상 페이스:</span></div>
                        <div><span th:text="${meetingPost.speed}">0:00</span></div>
                        <div class="ml-3"><span>min/km</span></div>
                    </div>
                </th:block>
                <th:block th:unless="${meetingPost.exerciseType == 'RUNNING'}">
                    <div class="d-flex ml-3">
                        <div><span>예상 파워:</span></div>
                        <div><span th:text="${meetingPost.power}">300</span></div>
                        <div><span>W</span></div>
                    </div>
                </th:block>
                <div class="d-flex ml-4">
                    <div><span>총</span></div>
                    <div><span th:text="${meetingPost.distance}">100</span></div>
                    <div><span>km</span></div>
                </div>
            </div>

            <div class="d-flex">
                <div><span>중간 보급</span></div>
                <div><span th:text="${meetingPost.restLocation}"></span></div>
                <div>
                    <div><span>설명</span></div>
                    <div><input type="text" th:value="${meetingPost.contentText}"></div>
                </div>
            </div>

            <div class="d-flex justify-content-start" th:if="${meetingPost.isAbandonOkay}">
                <span class="text-danger">주의: 흐르면 버리는 번개입니다</span>
            </div>
        </div>

        <!-- 잡다한 정보들 -->
        <div>
            <div class="d-flex">
                <div><span>leader: </span></div>
                <div><span th:text="${meetingPost.userName}">나 사나이다</span></div>
            </div>

            <div>
                <div><h2>참가자 list</h2></div>
                <div>
                    <!-- join dto 리스트 출력 예시 -->
                    <div class="d-flex join-dto" th:each="joinDto : ${meetingPost.joinList}">
                        <div><span th:text="${joinDto.userName}">jihyung97</span></div>
                        <th:block th:if="${meetingPost.exerciseType == 'CYCLE'}">
                            <div class="ml-2"><span th:text="${joinDto.power}">0W</span></div>
                        </th:block>

                        <th:block th:if="${meetingPost.exerciseType == 'RUNNING'}">
                            <div class="ml-2"><span th:text="${joinDto.speed}">0W</span></div>
                        </th:block>



                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <!-- 댓글 리스트 -->
        <div>
            <div><h2>댓글 리스트</h2></div>
            <div th:each="comment : ${meetingPost.commentList}">
                <div class="d-flex comment-dto">
                    <div><span th:text="${comment.writerName}">나는 쉬지롱</span></div>
                    <div class="ml-2"><span th:text="${comment.content}">어우 고생들 많으십니다^^</span></div>
                </div>
            </div>
            <div class="d-flex mt-2">
                <input type="text" placeholder="댓글 작성">
                <button>댓글 달기</button>
            </div>
        </div>

        <!-- ftp, strava 연동, 참가버튼 -->
        <div>
            <div class="d-flex justify-content-between">
                <div>
                    <div><span>ftp: <span th:text="${meetingPost.power}">300</span>W</span></div>
                    <div><span>pace: <span th:text="${meetingPost.speed}">3:30</span>min/km</span></div>
                </div>
                <div>
                    <div class="d-flex">
                        <div><span>내 ftp 보이기</span></div>
                        <div><input type="checkbox"  /></div>
                    </div>
                    <div>
                        <button>Strava 연동</button>
                    </div>
                </div>
            </div>

            <div class="d-flex mt-3">
                <div class="d-flex">
                    <div><span>모든 사고 책임은 개인에게 있음을 동의합니다</span></div>
                    <div><input type="checkbox" name="agreePolicy"></div>
                </div>
                <div class="ml-3">
                    <button>참가</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-4">
        <button>닫기</button>
        <button>수정하기</button>
        <button>모임취소</button>
    </div>
</div>
</body>
</html>
