<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container bg-color large-page">
    <div class="d-flex justify-content-end" id="before-meeting" th:data-post-id="${meetingPost.postId}">
        <div>
            <div class="d-flex">
                <div><h4>남은시간:</h4></div>
               <!-- <div><h4 th:text="${meetingPost.remainedTime}">00시간 00분</h4></div> -->
            </div>
            <div class="d-flex">
                <div><span th:text="${meetingPost.currentHeadCount}">0명</span></div>
                <div><h1>/</h1></div>
                <div><span th:text="${meetingPost.maxHeadCount}">5명</span></div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <!-- 모임참가 관련 정보들 -->
        <div>
            <div class="d-flex">
                <div><h2>모이는 위치</h2></div>
                <div><span th:text="${meetingPost.location}"></span></div>
                <div>

                    <div id="map" style="width:400px;height:200px;"></div>

                </div>
            </div>

            <div class="d-flex">
                <th:block th:if="${meetingPost.exerciseType == 'RUNNING'}">
                    <div class="d-flex">
                        <div><span>예상 페이스: km당   </span></div>
                        <div><span th:text="${meetingPost.speed_min}">0</span>분</div>
                        <div><span th:text="${meetingPost.speed_sec}">0</span>초</div>
                        <div class="ml-3"><span>min/km</span></div>
                    </div>
                </th:block>
                <th:block th:unless="${meetingPost.exerciseType == 'RUNNING'}">
                    <div class="d-flex ml-3">
                        <div><span>예상 파워:</span></div>
                        <div><span th:text="${meetingPost.power}">300</span></div>
                        <div><span>W</span></div>
                    </div>
                </th:block>
                <div class="d-flex ml-4">
                    <div><span>총</span></div>
                    <div><span th:text="${meetingPost.distance}">100</span></div>
                    <div><span>km</span></div>
                </div>
            </div>

            <div class="d-flex">
                <div><span>중간 보급</span></div>
                <div><span th:text="${meetingPost.restLocation}"></span></div>
                <div>
                    <div><span>설명</span></div>
                    <div><input type="text" th:value="${meetingPost.contentText}"></div>
                </div>
            </div>

            <div class="d-flex justify-content-start" th:if="${meetingPost.isAbandonOkay}">
                <span class="text-danger">주의: 흐르면 버리는 번개입니다</span>
            </div>
        </div>

        <!-- 잡다한 정보들 -->
        <div>
            <div class="d-flex">
                <div><span>leader: </span></div>
                <div><span th:text="${meetingPost.userName}">나 사나이다</span></div>
            </div>

            <div>
                <div><h2>참가자 list</h2></div>
                <div>
                    <!-- join dto 리스트 출력 예시 -->
                    <div class="d-flex join-dto" th:each="joinDto : ${meetingPost.meetingJoinList}">
                        <div><span th:text="${joinDto.userName}">jihyung97</span></div>
                        <th:block th:if="${meetingPost.exerciseType == 'CYCLE'}">
                            <div class="ml-2"><span th:text="${joinDto.power}">0W</span></div>
                        </th:block>

                        <th:block th:if="${meetingPost.exerciseType == 'RUNNING'}">
                            <div class="ml-2"><span th:text="${joinDto.speed}">0</span></div>
                        </th:block>



                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <!-- 댓글 리스트 -->
        <div>
            <div><h2>댓글 리스트</h2></div>
            <div th:each="comment : ${meetingPost.commentList}">
                <div class="d-flex comment-dto">
                    <div><span th:text="${comment.userName}">나는 쉬지롱</span></div>
                    <div class="ml-2"><span th:text="${comment.content}">어우 고생들 많으십니다^^</span></div>
                </div>
            </div>
            <div class="d-flex mt-2">
                <input type="text"  id="comment-content" placeholder="댓글 작성">
                <button id="btn-comment">댓글 달기</button>
            </div>
        </div>

        <!-- ftp, strava 연동, 참가버튼 -->
        <div>
            <div class="d-flex justify-content-between">
                <div>
                    <div><span>ftp: <span th:text="${meetingPost.power}">300</span>W</span></div>
                    <div><span>pace: <span th:text="${meetingPost.speed}">3:30</span>min/km</span></div>
                </div>
                <div>
                    <div class="d-flex">
                        <div><span>내 ftp 보이기</span></div>
                        <div><input type="checkbox"  /></div>
                    </div>
                    <div>
                        <button>Strava 연동</button>
                    </div>
                </div>
            </div>

            <div class="d-flex mt-3">
                <div class="d-flex">
                    <div><span>모든 사고 책임은 개인에게 있음을 동의합니다</span></div>
                    <div><input type="checkbox" name="agreePolicy" id="isSafetyAgree"></div>
                </div>
                <div class="ml-3">
                    <button id="btn-join">참가</button>
                </div>
            </div>
        </div>
    </div>
    <span>latitude</span><span th:text="${meetingPost.latitude}" id="position-lat"></span>
    <span>longitude</span><span th:text="${meetingPost.longitude}" id="position-lng"></span>
    <div class="d-flex justify-content-end mt-4">
        <button>닫기</button>
        <button>수정하기</button>
        <button>모임취소</button>
    </div>
</div>
 

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dd189a1a763710dd5dc72319d26d4284&libraries=services"></script>
        <script>
            var container = document.getElementById('map');
            var options = {
                center: new kakao.maps.LatLng($("#position-lat").text(), $("#position-lng").text()),
                level: 3
            };

            var map = new kakao.maps.Map(container, options);


            var infowindow = new kakao.maps.InfoWindow({zIndex:1});
              var infowindow2 = new kakao.maps.InfoWindow({zIndex:1});




 

            var marker = new kakao.maps.Marker({
                // 지도 중심좌표에 마커를 생성합니다
                
                 position: new kakao.maps.LatLng($("#position-lat").text(), $("#position-lng").text())
              //  clickable: true
              });
            // 지도에 마커를 표시합니다
            marker.setMap(map);

            //클릭할 때의 마커 객체를 하나 더 생성
            var marker2 = new kakao.maps.Marker({});
            var geocoder = new kakao.maps.services.Geocoder();
             geocoder.coord2Address($("#position-lng").text(), $("#position-lat").text(), function(result,status){
                      if (status === kakao.maps.services.Status.OK) {
                        // var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                        var detailAddr  = '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
                        
                        var content = '<div class="bAddr">' +
                                        
                                        detailAddr + 
                                    '</div>';

                       
                        
                        // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                    }   


             });



           
            kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
                searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        // var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                        var detailAddr  = '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
                        
                        var content = '<div class="bAddr">' +
                                        
                                        detailAddr + 
                                    '</div>';

                        // 마커를 클릭한 위치에 표시합니다 
                        marker2.setPosition(mouseEvent.latLng);
                         
                        marker2.setMap(map);
                        $("#position-lng").text(mouseEvent.latLng.getLng());
                        $("#position-lat").text(mouseEvent.latLng.getLat());

                        // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                        infowindow2.setContent(content);
                        infowindow2.open(map, marker2);
                    }   
                });
                    map.setDraggable(true);
            });

            function searchDetailAddrFromCoords(coords, callback) {
                // 좌표로 법정동 상세 주소 정보를 요청합니다
                geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
            }
</script>
<script>
    $(function(){
      $("#btn-join").on("click", function () {
                
                let isSafetyAgree = $("#isSafetyAgree").is(":checked");
               let postId = $("#before-meeting").data("postId");
                
                alert(isSafetyAgree);
              
                     
                    $.ajax({
                        url: "/meeting-join/create"  , 
                        type: "POST",
                        data: {"isSafetyAgree":isSafetyAgree, "postId":postId},
                       
                        success: function (data) {
                            alert(" 성공적으로 join  되었습니다");
                            // 필요 시 페이지 이동 또는 폼 초기화
                        },
                        error: function (data) {
                            console.error(data);
                            alert("제출 중 오류가 발생했습니다.");
                        }
                    });

    });

    $("#btn-comment").on("click", function () {
    
            let content = $("#comment-content").val();
            let postId = $("#before-meeting").data("postId");
            let isBeforeMeeting = true;
            
    
    
    
            
        $.ajax({
            url: "/comment/create"  , 
            type: "POST",
            data: {"content":content, "postId":postId, "isBeforeMeeting":isBeforeMeeting},
            
            success: function (data) {
                alert(" 성공적으로 댓글 작성 되었습니다");
                // 필요 시 페이지 이동 또는 폼 초기화
            },
            error: function (data) {
                console.error(data);
                alert("제출 중 오류가 발생했습니다.");
            }
        });

    });

              
});
        
</script>

</body>
</html>
