<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class=" d-flex justify-content-between container large-page bg-color" id="final-report" th:data-postid="${meetingPost.postId}">
      <div class="w-50">
         
          <!--briefing-->
           
          <div class="ml-5" style="width:400px ; height:150px">
              <div><h3>briefing</h3></div>
              <div><span th:text="${meetingPost.contentText}"></span></div>
          </div>
            <div class="ml-5" style="width:400px ; height:150px">
              <div><h3>after meeting briefing</h3></div>
              <div><span th:text="${meetingPost.afterMeetingContent}"></span></div>
          </div>
           
              <div class="ml-5">
                  <div><span>페이스:</span> <span th:text="${meetingPost.speed}"></span> <Span>  min/km</span></div>
                  <div><span>총거리:</span> <span th:text="${meetingPost.distance}"></span> <Span>  km</span></div>
                 

              </div>
              <div class="ml-5">
                  <div id="meeting-join-section">
                    <div><h3>참여자 목록</h3></div>
                      <div th:each="meetingJoin : ${meetingPost.meetingJoinList}">
                             <span th:text="${meetingJoin.userName}"></span>  
                        <!-- RUNNING이면 speed 출력 -->
                        <div class="ml-2" th:if="${meetingPost.exerciseType == 'RUNNING'}">
                            <span th:text="${meetingJoin.speed}"></span> <span>km/h</span>
                        </div>

                        <!-- RUNNING이 아니면 power 출력 -->
                        <div class="ml-2" th:unless="${meetingPost.exerciseType == 'RUNNING'}">
                            <span th:text="${meetingJoin.power}"></span> <span>w/kg</span>
                        </div>

                    </div>
                </div>

          </div>
           
      </div>
      <div class="w-50">
          <div class=" ">
            <div><h2>운동 전 댓글 list</h2></div>
              <div id="before-comment-section" class=" " style="height:250px" >
                  
                  <div>
                      <div class="d-flex justify-content-start" th:each="comment:${meetingPost.commentDtoListBeforeMeeting}">
                          <div th:text="${comment.userName}">나는 쉬지롱</div>
                          <span class="ml-2" th:text="${comment.content}"> </span>
                      </div>
<!--                      <div class="d-flex">-->
<!--                          <div><input type="text" id="comment-before-meeting"></div>-->
<!--                          <button id="btn-comment-before">댓글작성</button>-->
<!--                      </div>-->
                  </div>
              </div>
               <div><h2>운동 후 댓글 list</h2></div>
              <div class=" " style="height:250px" id="after-comment-section">
                      <div>
                          <div class="d-flex justify-content-start" th:each="comment:${meetingPost.commentDtoListAfterMeeting}">
                              <span th:text="${comment.userName}">나는 쉬지롱</span>
                              <span class="ml-2" th:text="${comment.content}"> </span>
                          </div>
                         

            </div>

              </div>
               <div class="d-flex">
                    <div><input type="text" id="comment-after-meeting" style="width:300px"></div>
                    <button id="btn-comment-after" class="form-control" style="width:100px">댓글작성</button>
                </div>

          </div>
          <span id="position-lat" th:text="${meetingPost.latitude}"></span>
          <span id="position-lng" th:text="${meetingPost.longitude}"></span>
          <div class="d-flex justify-content-end">
             <button class="form-control" onclick="location.href='/main-page/before-meeting'">닫기</button>
              <a class="btn   form-control"
                 th:href="@{/meeting-post/make-meeting(postId=${meetingPost.postId})}">
                  수정하기
              </a>
             

          </div>


      </div>
    </div>
    <script>

        $(function(){



              $("#btn-comment-after").on("click", function () {
            
                    let content = $("#comment-after-meeting").val();
                   let postId = $("#final-report").data("postid");
                    let isBeforeMeeting = false;
                    
            
            
            
                    
                    $.ajax({
                        url: "/comment/create"  , 
                        type: "POST",
                        data: {"content":content, "postId":postId, "isBeforeMeeting":isBeforeMeeting},
                        
                        success: function (data) {
                            alert(" 성공적으로 댓글 작성 되었습니다");
                            // 필요 시 페이지 이동 또는 폼 초기화
                        },
                        error: function (data) {
                            console.error(data);
                            alert("제출 중 오류가 발생했습니다.");
                        }
                    });

             });
    })

    </script>
    
   

</body>
</html>