
<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

    <head>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        <div class="container bg-color">
            <div><input type="text" id="title"></div>
            <!--지도-->
            <div class="d-flex h-25 justify-content-start">
                <div><h2>모이는 위치</h2></div>
                 <div><input type="text" id="location"></div>
                <div class="d-flex">
                    <div>
                        <input type="text" id="keyword" placeholder="장소나 주소 입력">
                        <button onclick="searchLocation()">검색</button>
                        <div><h3>지도</h3></div>
                        <div>
                            <div id="map" style="width:300px;height:250px;"></div>
                        </div>
                    </div>
                    <div>

                            <button>카카오맵 연동하기</button>


                            <button class="d-none">연동 완료</button>

                        
                        
                        
                    </div>

                </div>
            </div>
            <!--예상 페이스-->
            <div class="d-flex">
                <div id="running-fields">
                    <div class="d-flex" >
                        <div class="d-flex">예상페이스:</div>
                        <div><input type="text" class="form-control" id="speed-run"></div>
                        <div class="d-flex">min/km</div>
                    </div>
                </div>

                <div class="d-none" id="cycle-fields">
                    <div class="d-flex">
                        <div class="d-flex ">예상파워:</div>
                        <div><input type="text" class="form-control" id="power"></div>
                        <div class="d-flex">W</div>
                    </div>
                    <div class="d-flex">
                        <div class="d-flex ">예상속도:</div>
                        <div><input type="text" class="form-control" id="speed-cycle"></div>
                        <div class="d-flex">km/h</div>
                    </div>

                </div>



            </div>
            <!--중간보급, 내 ability 보이기 -->
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <div><h3>중간보급</h3></div>
                    <div><input type="text" class="form-control" id="restLocation"></div>

                </div>
                <div class="d-flex">
                    <div class="d-flex">
                        <button id="btn-run">러닝</button>
                        <button id="btn-cycle">자전거</button>
                    </div>
                    <div>
                        <h4>모임 시간 설정하기</h4>
                    </div>
                    <div>
                        <input type="datetime-local" name="expiredAt"  id= "expiredAt" class="form-control">
                    </div>
                    <div class="d-flex">
                        <div><h4>거리</h4></div>
                        <div><input type="text" id="distance"></div>
                    </div>
                    <div>
                        <div class="d-flex">
                            <div><h3>내 페이스 보이기</h3></div>
                            <input type="checkbox" id="isMyPaceShown">
                        </div>
                        <div class="d-flex">
                            <div><h3>내 ftp 보이기</h3></div>
                            <input type="checkbox" id="isMyFtpShown">
                        </div>
                    </div>
                    <div>
                        <button>strava연동</button>
                    </div>

                </div>


            </div>
            <div class="d-flex justify-content-start">
                <div class="d-flex">
                    <div>흐르면 버리는지 여부 체크</div>
                    <input type="checkbox" id="isAbandonOkay">
                </div>
                <div class="d-flex">
                    <div><h4>최소인원수</h4></div>
                    <div><input type="text" id="minHeadCount">  </div>
                </div>
                 <div class="d-flex">
                    <div><h4>최대인원수</h4></div>
                    <div><input type="text" id="maxHeadCount">  </div>
                </div>

            </div>
            <div>
                <div>설명</div>
                <div>
                    <input type="text" id="content">
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div><button><span class="text-danger">삭제</span></button></div>
                <div class="d-flex">
                    <div><button>닫기</button></div>
                    <div th:if="${isPostExist}">
                          <button id="btn-update">수정완료</button>
                    </div>

    <!-- 새 글 작성모드일 때만 보이는 버튼 -->
                    <div th:if="${!isPostExist}">
                        <button id="btn-create">작성</button>
                    </div>
                </div>
            </div>

           <!-- 운동 유형 저장용 hidden input -->
        <input type="hidden" id="exerciseType" name="exerciseType" value="RUNNING">

        </div>

        <!--maxHeadCount title location speed-run power speed-cycle restLocation expiredAt isMyPaceShown isMyFtpShown isAbandonOkay exerciseType minHeadCount distance content-->
    <script>
         $(function(){
              $("#btn-run").on("click", function () {
                    // 러닝 전용 보이기
                    $("#running-fields").removeClass("d-none");

                    // 자전거 전용 숨기기
                    $("#cycle-fields").addClass("d-none");
                       $("#exerciseType").val("RUNNING");

                });

                $("#btn-cycle").on("click", function () {
        // 자전거 전용 보이기
                    $("#cycle-fields").removeClass("d-none");


                    // 러닝 전용 숨기기
                    $("#running-fields").addClass("d-none");

                       $("#exerciseType").val("CYCLE");
                });
           

                 $(function(){
                    $("#btn-login").on("click",function(){


                        let loginId = $("#loginId").val().trim();
                        let password = $("#password").val().trim();

                        if(!loginId){
                            alert("아이디를 입력하세요");
                            return false;
                        }
                        if(!password){
                            alert("비밀번호를 입력하세요");
                            return false;
                        }
                         $.ajax({
                            url: "/user/sign-in",
                            type: "POST",
                            data: {
                                loginId: loginId,
                                password: password
                            },
                            success: function (data) {
                                if (data.code === 200) {
                                    location.reload();
                                } else {
                                    alert(data.error_message);
                                }
                            },
                            error: function (e) {
                                alert("로그인에 실패하였습니다");
                            }
                         });
                    });

                       $("#btn-create").on("click",function(){
                        let location = $("#location").val().trim();
                            let expiredAt = $("#expiredAt").val().trim();
                            let exerciseType = $("#exerciseType").val().trim();
                            let minHeadCount =($("#minHeadCount").val().trim()) ;
                            let maxHeadCount =  ($("#maxHeadCount").val().trim());
                             let distance =  ($("#distance").val());
                             let power =  ($("#power").val());

                        if (location === "") {
                            alert("모이는 위치를 입력해주세요.");
                            return false;
                        }

                        if (expiredAt === "") {
                            alert("모임 시간을 설정해주세요.");
                            return false;
                        }

                        if (exerciseType === "") {
                            alert("운동 유형을 선택해주세요.");
                            return false;
                        }

                        if (minHeadCount === "") {
                            alert("최소 인원을 입력해주세요.");
                            return false;
                        }

                        if (maxHeadCount === "") {
                            alert("최대 인원을 입력해주세요.");
                            return false;
                        }

                        let speed = "";

                        if (exerciseType === "RUNNING") {
                            speed = $("#speed-run").val();
                        } else if (exerciseType === "CYCLE") {
                            speed = $("#speed-cycle").val();
                        }


                        // 숫자 검증
                        if (speed === "" || isNaN(speed)) {
                        alert("예상속도를 올바른 숫자로 입력해주세요.");
                        return false;
                        }
                        // 숫자 유효성 검사
                        if (isNaN(distance) || distance === "") {
                            alert("거리(distance)는 숫자로 입력해주세요.");
                            return false;
                        }

            
                     
                        
                        if (exerciseType === "CYCLE") {
                    
                                if (power !== "" && isNaN(power)) {
                                    alert("파워(power)는 숫자로 입력해주세요.");
                                    return false;
                                }
                        }

                        if (isNaN(minHeadCount) || minHeadCount === "") {
                            alert("최소 인원(minHeadCount)은 숫자로 입력해주세요.");
                            return false;
                        }
                         if (isNaN(maxHeadCount) || maxHeadCount === "") {
                            alert("최소 인원(minHeadCount)은 숫자로 입력해주세요.");
                            return false;
                        }

                        if (Number(maxHeadCount) > 20) {
                            alert("사람 수는 최대 20명까지만 설정할 수 있습니다.");
                            return false;
                                }
                        if (Number(minHeadCount) > Number(maxHeadCount)) {
                            alert("최소 인원은 최대 인원보다 많을 수 없습니다.");
                            return false;
                        }
                        
                           minHeadCount = Number($("#minHeadCount").val().trim()) ;
                             maxHeadCount =  Number($("#maxHeadCount").val().trim());
                              distance =  Number($("#distance").val());
                             power =  Number($("#power").val());
                       
                         $.ajax({
                                url: "/meeting-post/create",
                                type: "POST",
                                data: {
                                    title: $("#title").val(),
                                    location: $("#location").val(),
                                    latitude: $("#latitude").val(), // optional
                                    longitude: $("#longitude").val(), // optional
                                    restLocation: $("#restLocation").val(),
                                    expiredAt: $("#expiredAt").val(), // → "2025-06-26T23:30" 이런 형태여야 함
                                    contentText: $("#content").val(),
                                    exerciseType: exerciseType,
                                    distance: distance,
                                    speed: speed, // 조건 분기 가능
                                    power: power,
                                    minHeadCount: minHeadCount,
                                    maxHeadCount: maxHeadCount,
                                   
                                    isAbandonOkay: $("#isAbandonOkay").prop("checked"),
                                   
                                  
                                    isMyPaceShown: $("#isMyPaceShown").prop("checked"),
                                    isMyFtpShown: $("#isMyFtpShown").prop("checked")
                                },
                                success: function (data) {
                                    if (data.result === "성공") {
                                        alert("모임 생성 완료");
                                        window.location.href = "/main-page/before-meeting";
                                    } else {
                                        alert(data.error_message || "에러 발생");
                                    }
                                },
                                error: function () {
                                    alert("서버 통신 실패");
                                }
                            });

                       
                         });
                    });

    




        });

    </script>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dd189a1a763710dd5dc72319d26d4284&libraries=services"></script>
        <script>
            var container = document.getElementById('map');
            var options = {
                center: new kakao.maps.LatLng(33.450701, 126.570667),
                level: 3
            };

            var map = new kakao.maps.Map(container, options);


            var infowindow = new kakao.maps.InfoWindow({zIndex:1});

            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            // 지도를 생성합니다
            var map = new kakao.maps.Map(mapContainer, mapOption);

            // 장소 검색 객체를 생성합니다
            var ps = new kakao.maps.services.Places();
            var geocoder = new kakao.maps.services.Geocoder();
            var marker = new kakao.maps.Marker(); // 마커 재사용

                function searchLocation() {
                    var keyword = document.getElementById('keyword').value;
                     ps.keywordSearch(keyword, placesSearchCB);

                    
                 }

                 kakao.maps.event.addListener(map, 'click', function(mouseEvent) {

                        // 클릭한 위도, 경도 정보를 가져옵니다
                        var latlng = mouseEvent.latLng;

                        // 마커 위치를 클릭한 위치로 옮깁니다
                        marker.setPosition(latlng);

                        var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
                        message += '경도는 ' + latlng.getLng() + ' 입니다';

                        var resultDiv = document.getElementById('clickLatlng');
                        resultDiv.innerHTML = message;

                    });
            // 키워드로 장소를 검색합니다


            // 키워드 검색 완료 시 호출되는 콜백함수 입니다
            function placesSearchCB (data, status, pagination) {
                if (status === kakao.maps.services.Status.OK) {

                    // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                    // LatLngBounds 객체에 좌표를 추가합니다
                    var bounds = new kakao.maps.LatLngBounds();

                    for (var i=0; i<data.length; i++) {
                        displayMarker(data[i]);
                        bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
                    }

                    // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                    map.setBounds(bounds);
                }
            }

            // 지도에 마커를 표시하는 함수입니다
            function displayMarker(place) {

                // 마커를 생성하고 지도에 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: new kakao.maps.LatLng(place.y, place.x)
                });

                // 마커에 클릭이벤트를 등록합니다
<!--                kakao.maps.event.addListener(marker, 'click', function() {-->
<!--                    // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다-->
<!--                    infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');-->
<!--                    infowindow.open(map, marker);-->
<!--                });-->
            }
















        </script>

    </body>



</html>