<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        #image-section
        {
            height:200px;
        }
        .small-page{
            height:1000px;
            width:750px;
        }


    </style>

</head>
<body>
    <div class="small-page container" id="report-making"  th:data-exercise-type="${meetingPost.exerciseType}">
        <div class="w-75 join-list" >
            <div><h1>참여자list</h1></div>
            <div  class="w-75">
                <div class="d-flex justify-content-between meeting-join" th:each="meetingJoin : ${meetingPost.meetingJoinList}">
                    <div>
                        <span th:text="${meetingJoin.userName}"  >참가자</span>
                      </div>
                    <div class="d-flex justify-content-between">
                        <div class="ml-2">
                            <input type="radio"  th:value="'참여'" th:data-userId="${join.userId}" class="status-radio" /> 참여
                        </div>
                        <div class="ml-2">
                            <input type="radio"  th:value="'중간낙오'" th:data-userId="${join.userId}" class="status-radio" /> 중간낙오
                        </div>
                        <div class="ml-2">
                            <input type="radio"  th:value="'불참'" th:data-userId="${join.userId}" class="status-radio" /> 불참
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="justify-content-end"><button>전부참석</button> </div>
        <div class="mt-5">
            <div class="d-flex">
                <div>
                    <div><span id="speed-running">페이스 0:00 min/km</span></div>
                    <div><span id="speed-cycle">속도 00km/h</span></div>
                    <div><span id="power">power W</span></div>
                    <span id="distance">총 거리: 50km</span>
                </div>
                <div class="ml-5 d-flex align-items-center" >
                   <button>strava 연동</button>
                </div>
            </div>
            <div class="d-flex justify-content-start bg-warning mt-5" id="image-section">
                <div> <div class="h-100 w-100 bg-warning"></div></div>

            </div>
            <div class="ml-3 d-flex justify-content-end"><button> 사진 업롣,</button></div>
            <div>
                <div class="mt-5"><h2>운동 briefing</h2></div>
                <div>
                    <input type="text" width="200" id="content">
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button id="btn-submit">최종report보기</button>
                <button> 닫기</button>
            </div>
        </div>


    </div>
    <script>

        $(function(){
           $("#btn-submit").on("click", function () {
                let exerciseType = $("#report-making").data("exercise-type");

                let speed, power;

                if (exerciseType === "running") {
                    speed = $("#speed-running").val();
                    power = null;
                } else {
                    speed = $("#speed-cycle").val();
                    power = $("#power").val();
                }

                let distance = $("#distance").val();
                let content = $("#content").val();

              if (speed === "" || isNaN(Number(speed))) {
                    alert("속도를 다시 입력하세요");
                    return false;
                }
                speed = Number(speed);

                if (power !== null) {
                    if (power === "" || isNaN(Number(power))) {
                        alert("파워를 다시 입력하세요");
                        return false;
                    }
                    power = Number(power);
                }

                if (distance === "" || isNaN(Number(distance))) {
                    alert("거리를 다시 입력하세요");
                    return false;
                }
                distance = Number(distance);

                let radioList = document.querySelectorAll('.status-radio');
                let statusMap = {};

                radioList.forEach(radio => {
                    if (radio.checked) {
                        let userId = radio.getAttribute('data-userid'); // 소문자 권장
                        statusMap[userId] = radio.value;
                    }
                });

    // formData 생성, AJAX 전송 등 계속 진행하세요.
                });


              });
    </script>
</body>
<script>

</script>
</html>